body{
    background: linear-gradient(rgb(2, 9, 7),rgb(0, 87, 96));
    font-family: 'Poppins','Roboto';
    color: aliceblue;
    min-height: 100svh;
}

.container{
    padding: 5vmin;
    height: 90%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.location,.current-weather{
    width: 80%;
    padding: 8px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 149, 255, 0.144);
    backdrop-filter: blur(20px) saturate(2);
}
.location{
    max-width: 600px;
    box-shadow: inset 2px 2px 8px rgba(178, 218, 178, 0.358),
                inset -2px -2px 8px rgba(113, 170, 188, 0.427);
    font-weight: 300;
}
.city{
    font-size: 1.8rem;
}

.current-weather{
    /* border: 2px solid white; */
    font-size: 1rem;
    background-color: transparent;
    backdrop-filter: blur(0);
}
.geography{
    white-space-collapse: none;
    line-break: strict;
}
.curr-temp{
    font-size: 5rem;
}

.curr-condition{
    font-size: 1.8rem;
}

#forecast-title{
    font-size: 1.2rem;
    font-weight: bold;
}
.today-forecast{
    width: 90%;
    display: flex;
    align-items: center;
    gap: 12px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.today-forecast::-webkit-scrollbar{
    display: none;
}

.today-forecast-card{
    flex: 0 0 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}


@media screen and (min-width: 1015px) {
    .today-forecast{
        width: auto;
    }
 
}

a,a:visited{
    color: aliceblue;
    text-decoration: none;
}
